@* @page *@
@* @model RoleAndManagement.Views.JobPostings.Create *@
@model RoleAndManagement.ViewModels.JobPostingViewModel
@* @model JobPostings *@


@* @{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1> *@

@* <form method="post" action="Create"> *@
<form asp-action="Create" method="post">

<div class="hstack gap-5 mb-3">
    <label asp-for="Title" class="form-label"></label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <div class="input-group">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>Classification...</option>
            <option value="1">Accounting</option>
            <option value="2">BankingFinancial</option>
            <option value="3">CustomerService</option>
            <option value="3">Management</option>
            <option value="3">Design</option>
            <option value="3">HealthCare</option>
            <option value="3">Science</option>
            <option value="3">InformationTechnology</option>
            <option value="3">Sale</option>
            <option value="3">Sport</option>
        </select>

        <button class="btn btn-outline-secondary" type="button">SEEK</button>
    </div>
</div>

<div class="mb-3">
    <label asp-for="Description" class="form-label"></label>
    <textarea type="text" asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Company" class="form-label"></label>
    <input type="text" asp-for="Company" class="form-control" />
    <span asp-validation-for="Company" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Location" class="form-label"></label>
    <input type="text" asp-for="Location" class="form-control" />
    <span asp-validation-for="Location" class="text-danger"></span>
</div>

    <button type="submit" class="btn btn-primary">Create</button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}