@{
    ViewData["Title"] = "Home Page";
}

<div>
<div class="position-absolute top-50 start-50 translate-middle vstack gap-3">
    <h1 class="display-4">Seek Job</h1>
    
    <div class="input-group">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>Classification...</option>
            <option value="1">Accounting</option>
            <option value="2">BankingFinancial</option>
            <option value="3">CustomerService</option>
            <option value="3">Management</option>
            <option value="3">Design</option>
            <option value="3">HealthCare</option>
            <option value="3">Science</option>
            <option value="3">InformationTechnology</option>
            <option value="3">Sale</option>
            <option value="3">Sport</option>
        </select>

        <button class="btn btn-outline-secondary" type="button">SEEK</button>
    </div>
</div>
